<div class="container">
  <h1>NodeLex</h1>
  <br>
  <div class="row">
    <div class="col">
      <textarea
        [(ngModel)]="codigo"
        rows="10"
        cols="50"
        placeholder="Escribe tu código aquí..."
      ></textarea>
    </div>
    <div class="col">
      <textarea
        [(ngModel)]="consola"
        rows="10"
        cols="50"
        placeholder="CMD NodeLex"
        readonly
      ></textarea>
    </div>
  </div>
</div>
<div class="container containerBotones">
  <div class="row">
    <div class="col" style="text-align: right;">
      <button mat-raised-button type="button" class="margenBoton" (click)="analizar()">Analizar Código</button>
      <button mat-raised-button type="button" class="margenBoton" (click)="limpiar()">Limpiar Consola</button>
    </div>
  </div>
</div>