<div class="container">
  <h1>NodeLex</h1>

  <textarea
    [(ngModel)]="codigo"
    rows="10"
    cols="50"
    placeholder="Escribe tu código aquí..."
  ></textarea>
  <br />

  <button (click)="analizar()">Analizar Código</button>

  <div *ngIf="lexemas.length > 0">
    <h2>Tokens</h2>
    <table border="1">
      <tr>
        <th>#</th>
        <th>Tipo</th>
        <th>Valor</th>
      </tr>
      <tr *ngFor="let lexema of lexemas; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ lexema.tipo }}</td>
        <td>{{ lexema.valor }}</td>
      </tr>
    </table>
  </div>

  <div *ngIf="errores.length > 0">
    <h2>Errores Léxicos</h2>
    <ul>
      <li *ngFor="let error of errores">
        {{ error.valor }}: {{ error.descripcion }}
      </li>
    </ul>
  </div>
</div>
